
*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body, .body, .title-container{
	height: 100%;
	font-size: 1rem;
}

.grid-container {
	display: grid;
}

body {
	background-color: rgb(63, 63, 63);
}

.body {
	grid-template-columns: 1fr 2fr;
	column-gap: 2.5rem;
	height: 100%;
	width: 75%;
	margin: auto;
	background: white;
}

.flex-container {
	display: flex;
}

.vertical {
	flex-direction: column;
}

/* Here starts img and logo */

.logo-container {
	box-sizing: border-box;
	height: 100%;
	background-image: url(../images/header-image.jpg);
	background-size: cover;
	z-index: 0;
}

#odin {
	margin-top: 35%;
	height: 10rem;
	background-color: rgba(0, 0, 0, 0.575);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 1rem;
}

#odin-logo {
	height: 100%;
}

h1 {
	margin: 1rem;
	font-size: 4rem;
	color: aliceblue;
}

#background-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Here starts header */

.main {
	grid-template-rows: 1fr 2fr;
}

header { 
	height: min-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 600;
	width: 80%;
	margin-top: auto;
}

p {
	margin: 2rem;
}

/* Here starts form */

form {
	margin: 2rem;
}
